
SubmitStats/Properties/PublishProfiles/SubmitStats - Zip Deploy.pubxml
.vs/SubmitStats/v16/Server/sqlite3/storage.ide-wal
.vs/SubmitStats/v16/Server/sqlite3/storage.ide-shm
.vs/SubmitStats/v16/Server/sqlite3/storage.ide
.vs/SubmitStats/v16/Server/sqlite3/db.lock
.vs/SubmitStats/v16/.suo
.vs/SubmitStats/DesignTimeBuild/.dtbcache.v2
.vs/SubmitStats/DesignTimeBuild/.dtbcache
.vs/SubmitStats/config/applicationhost.config
